@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

@font-face {
    font-family: FrutigerLTStd-LightCn;
    font-weight: bold;
    src: url("../fonts/FrutigerLTStd-LightCn.otf") format("opentype");
}

@font-face {
    font-family: FrutigerLTStd-ExtraBlackCn;
    font-weight: bold;
    src: url("../fonts/FrutigerLTStd-ExtraBlackCn.otf") format("opentype");
}
